.header {
    background-color: #00BFFF;
    padding: 20px;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .header ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header ul li a:hover {
    text-decoration: underline;
  }
  