.home-container {
  display: flex;
  flex-direction: column; /* Apila los elementos uno debajo de otro */
  align-items: center;
  padding: 100px;
}

.left-column {
  margin-bottom: 20px;
  text-align: i;
}
.right-column {
  margin-bottom: 20px;
  text-align: center;
}
.left-aligned-text {
  text-align: left;
  margin-left: 20px; /* Ajusta el margen según tus necesidades */
}

.disciplines-grid {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Ajusta el número de columnas automáticamente */
  gap: 16px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.discipline-card {
  background-color: #c7c4c4;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discipline-card:hover {
  transform: scale(1.05);
}

.discipline-icon {
  filter: grayscale(100%);
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.discipline-label {
  font-size: 14px;
  color: #333;
}
